.auth {
  margin-top: 20px;
  color: black;

  h5 {
    font-family: $oswald;
    font-size: 25px;
    font-weight: 500;
  }

  .input-field {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
}
